@using ChapeauPOS.Commons;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChapeauPOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/ChapeauPOS.styles.css" asp-append-version="true" />
    @{
        string theme = Context.Request.Cookies["PreferedTheme"];
        if (theme == "Dark")
        {
            <link rel="stylesheet" href="~/css/DarkTheme.css" />
        }
        else if (theme == "Light")
        {
            <link rel="stylesheet" href="~/css/LightTheme.css" />
        }
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ChapeauPOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        @{
                            Employee loggedInEmployee = ViewBag.LoggedInEmployee;
                            if (ViewBag.LoggedInEmployee != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>

                                switch (loggedInEmployee.Role)
                                {
                                    case Roles.Manager:
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">StockManagement</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Index">Restaurant Overview</a>
                                        </li>
                                        break;
                                    case Roles.Waiter:
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Restaurant Overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Index">Restaurant Overview</a>
                                        </li>
                                        break;
                                    case Roles.Bartender:
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="KitchenBar" asp-action="BarRunningOrders">BarView</a>
                                        </li>
                                        break;
                                    case Roles.Cook:
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="KitchenBar" asp-action="KitchenRunningOrders">KitchenView</a>
                                        </li>
                                        break;
                                }
                            }
                        }
                        <li class="nav-item">
                            <form action="/Home/SetTheme" method="post">
                                <article class="input_group">
                                    <label for="Theme">Theme</label>
                                    <select onchange="this.form.submit()" id="Theme" name="theme" class="input_field">
                                        <option value="">Theme:</option>
                                        <option value="Dark">Dark</option>
                                        <option value="Light">Light</option>
                                    </select>
                                </article>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ChapeauPOS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
