:root {
    --mainColor-darkGrey: #232323;
    --mainColor-lighterGrey: #2D2D2C;
    --mainColor-Grey: #121212;
    --mainColor-Black: #000000;
    --highlightcolor-lIGHTPurple: #C5BEF6;
    --inputFieldColor-lightGrey: #383838;
    --highlightcolor-washedGreen: #A9EBCE;
    --highlightcolor-lightYellow: #D3D641;
    --highlightcolor-dangerRED: #F32013;
    --highlightcolor-lightRed: #FF6961;
    --highlightcolor-lightGrey: #454545;
    --highlightcolor-lightGreen: #B9FF3B;
    --highlightcolor-darkGreen: #0A332C;
    --notificationcolor-wpGreen: #00A884;
    --logo-font: "Lobster", sans-serif;
    --nav-font: "Alata", sans-serif;
    --headers-font: "Poppins", sans-serif;
    --paragraphs-font: "Nunito Sans", sans-serif;
}

/*  *PopUp Styles

*/
a{
    cursor: pointer;
}
.popupOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
.popupContainer {
    position: absolute;
    top: 40%;
    left: 42%;
    width: 300px;
    height: 300px;
}
/* 
    *Button Styles
 */
.add_entity, .conf_button, .confirmation_cancelation {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--highlightcolor-lIGHTPurple);
}
.confirmation_cancelation {
    background-color: var(--highlightcolor-dangerRED);
}

.add_entity_main {
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--highlightcolor-washedGreen);
}
/*
    Logo
*/
.Logo_container {
    display: flex;
    justify-content: center;
    align-items:center;
}

/* 
    *Login Page Styles
 */
.LoginPage_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.Login_card {
    padding: 1em;
    border: 1px black solid;
    border-radius: 0.7em;
}
.Login_card_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ManagerIcon, .WaiterIcon, .BartenderIcon, .CookIcon, .ManagerIconF, .WaitressIcon, .BartenderIconF, .CookIconF{
    width: 99px;
    height: 113px;
    
}
.ManagerIcon {
    background-image: url('/assets/ManagerIcon_L.svg');
}
.WaiterIcon {
    background-image: url('/assets/WaiterIcon_L.svg')
}
.BartenderIcon {
    background-image: url('/assets/BartenderIcon_L.svg')
}
.CookIcon {
    background-image: url('/assets/CookIcon_L.svg')
}
.ManagerIconF {
    background-image: url('/assets/ManagerIconF_L.svg')
}
.WaitressIcon {
    background-image: url('/assets/WaitressIcon_L.svg')
}
.BartenderIconF {
    background-image: url('/assets/BartenderIconF_L.svg')
}
.CookIconF {
    background-image: url('/assets/CookIconF_L.svg')
}
/*
    TableStyles
*/
.LoginPage_nav {

}
.table_card {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
.Table_Overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    gap: 2px;
}
.table_card_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
}   