:root {
    --mainColor-darkGrey: #232323;
    --mainColor-lighterGrey: #2D2D2C;
    --mainColor-Grey: #121212;
    --mainColor-Black: #000000;
    --highlightcolor-lIGHTPurple: #C5BEF6;
    --inputFieldColor-lightGrey: #383838;
    --highlightcolor-washedGreen: #A9EBCE;
    --highlightcolor-lightYellow: #D3D641;
    --highlightcolor-dangerRED: #F32013;
    --highlightcolor-lightRed: #FF6961;
    --highlightcolor-lightGrey: #454545;
    --highlightcolor-lightGreen: #B9FF3B;
    --highlightcolor-darkGreen: #0A332C;
    --notificationcolor-wpGreen: #00A884;
    --logo-font: "Lobster", sans-serif;
    --nav-font: "Alata", sans-serif;
    --headers-font: "Poppins", sans-serif;
    --paragraphs-font: "Nunito Sans", sans-serif;
    --Collection1-BackGWhite: #F7F7F7;
    --Collection1-Blues-PastelGreen: #80EF80;
    --Collection1-Blues-StatusBlue: #6699CC;
    --Collection1-DarkerBackGWhite: #EBEBEB;
    --Collection1-Greens-GreenText: #00B27F;
    --Collection1-Greens-PastelGreen: #80EF80;
    --Collection1-Greens-PastelGreenn: #00B23B;
    --Collection1-Greys-BarsLightGrey: #303136;
    --Collection1-Greys-CategoryButtonsGrey: #FFFFFF;
    --Collection1-Greys-DarkGrey: #18191C;
    --Collection1-Greys-GreyText: #ABACB1;
    --Collection1-Greys-LightGrey: #555252;
    --Collection1-Greys-LightGreyLoginBackground: #3A3E4B;
    --Collection1-Greys-OtherTextGrey: #4B4545;
    --Collection1-Greys-SideContainerGrey: #232429;
    --Collection1-LsDarkPurple: #401A8F;
    --Collection1-PastelOrange: #FF9F40;
    --Collection1-PurplePastel: #8716D9;
    --Collection1-Reds-PastelRed: #FF645C;
    --Collection1-Reds-Red: #CC0023;
    --Collection1-Reds-RedMenuText: #781F1F;
    --Collection1-TextBlue: #0A60DA;
    --Collection1-Paragpraph_font: "Rubik", sans-serif;
}
* {
    font-family: var(--Collection1-Paragpraph_font);
}

/*  *PopUp Styles

*/
a{
    cursor: pointer;
}
.popupOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
.popupContainer {
    position: absolute;
    top: 40%;
    left: 42%;
    width: 300px;
    height: 300px;
}
/* 
    *Button Styles
 */
.add_entity, .conf_button, .confirmation_cancelation {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--highlightcolor-lIGHTPurple);
}
.confirmation_cancelation {
    background-color: var(--highlightcolor-dangerRED);
}

.add_entity_main {
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--highlightcolor-washedGreen);
}
/*
    Logo
*/
.Logo_container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;
}
.Logo{
    width: 51px;
    height: 52px;
    background-image: url(/assets/MainLogoBlack.svg);
}
.LogoText {
    font-family: var(--Collection1-Paragpraph_font);
    text-decoration: none;
    font-family: var(--Collection1-Paragpraph_font);
    font-size: 32px;
    font-weight: 700;
    color:black;

}
/* NAV BARSS  

*/
.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_ul {
    display: flex;
    flex-direction: row;
}
.nav_item {
    display: flex;
}
li a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
}

/* 
    *Login Page Styles
 */
.LoginPage_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.Login_card {
    padding: 1em;
    border: 1px black solid;
    border-radius: 0.7em;
}
.Login_card_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ManagerIcon, .WaiterIcon, .BartenderIcon, .CookIcon, .ManagerIconF, .WaitressIcon, .BartenderIconF, .CookIconF{
    width: 99px;
    height: 113px;
    
}
.ManagerIcon {
    background-image: url('/assets/ManagerIcon_L.svg');
}
.WaiterIcon {
    background-image: url('/assets/WaiterIcon_L.svg')
}
.BartenderIcon {
    background-image: url('/assets/BartenderIcon_L.svg')
}
.CookIcon {
    background-image: url('/assets/CookIcon_L.svg')
}
.ManagerIconF {
    background-image: url('/assets/ManagerIconF_L.svg')
}
.WaitressIcon {
    background-image: url('/assets/WaitressIcon_L.svg')
}
.BartenderIconF {
    background-image: url('/assets/BartenderIconF_L.svg')
}
.CookIconF {
    background-image: url('/assets/CookIconF_L.svg')
}
/*
    TableStyles
*/
.LoginPage_nav {

}
.table_card {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
.Table_Overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    gap: 2px;
}
.table_card_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
}   
/*
    ORDER PAGE STYLES
*/
#partialViewContainer {
    width: 777px;
    display: grid;
    grid-template-areas: "courses items";
    grid-template-columns: 150px auto;
}
.order_container {
    width: 500px;
    border: green 1px solid;
    justify-items:center;
}

#courseSidebar {
    display: flex;
    flex-direction: column;
    grid-area: courses;
}
#menuItemsContainer{
    grid-area: items;
    padding-left: 10px;
    width:637px;
    height:637px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.OrderViewBody{
    display: flex;
    flex-direction: row;
    border: blue 1px solid;
}
#orderList{
    display:flex;
    flex-direction: column;
    height: 100%; 
}
.order_items {
    width: 95%;
}
.OrderItem_Row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-block-end: 1px #ffffff41 solid;
}
.OrderItem_RowBody {
    display: flex;
    gap: 5px;
}
.OrderItemRow_Price{
    margin-left: 210px;
}
.Notes_span {
    text-align: center;
}
.order_summary{
    margin-top: 100px;
}
#courseSidebar button {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Collection1-Greys-SideContainerGrey);
    border-radius: 5px;
    color: white;
    font-family: var(--Collection1-Paragpraph_font);
    font-weight: 500;
}
#courseSidebar button img{
    width:24px;
}
.square{
    border: 1px blue solid;
    height: 125px;
    width:125px;
    border-radius: 7px;
    margin: 5px;
}