:root {
    --mainColor-darkGrey: #232323;
    --mainColor-lighterGrey: #2D2D2C;
    --mainColor-Grey: #121212;
    --mainColor-Black: #000000;
    --highlightcolor-lIGHTPurple: #C5BEF6;
    --inputFieldColor-lightGrey: #383838;
    --highlightcolor-washedGreen: #A9EBCE;
    --highlightcolor-lightYellow: #D3D641;
    --highlightcolor-dangerRED: #F32013;
    --highlightcolor-lightRed: #FF6961;
    --highlightcolor-lightGrey: #454545;
    --highlightcolor-lightGreen: #B9FF3B;
    --highlightcolor-darkGreen: #0A332C;
    --notificationcolor-wpGreen: #00A884;
    --logo-font: "Lobster", sans-serif;
    --nav-font: "Alata", sans-serif;
    --headers-font: "Poppins", sans-serif;
    --paragraphs-font: "Nunito Sans", sans-serif;
    --Collection1-BackGWhite: #F7F7F7;
    --Collection1-Blues-PastelGreen: #80EF80;
    --Collection1-Blues-StatusBlue: #6699CC;
    --Collection1-DarkerBackGWhite: #EBEBEB;
    --Collection1-Greens-GreenText: #00B27F;
    --Collection1-Greens-PastelGreen: #80EF80;
    --Collection1-Greens-PastelGreenn: #00B23B;
    --Collection1-Greys-BarsLightGrey: #303136;
    --Collection1-Greys-CategoryButtonsGrey: #FFFFFF;
    --Collection1-Greys-DarkGrey: #18191C;
    --Collection1-Greys-GreyText: #ABACB1;
    --Collection1-Greys-LightGrey: #555252;
    --Collection1-Greys-LightGreyLoginBackground: #3A3E4B;
    --Collection1-Greys-OtherTextGrey: #4B4545;
    --Collection1-Greys-SideContainerGrey: #232429;
    --Collection1-LsDarkPurple: #401A8F;
    --Collection1-PastelOrange: #FF9F40;
    --Collection1-PurplePastel: #8716D9;
    --Collection1-Reds-PastelRed: #FF645C;
    --Collection1-Reds-Red: #CC0023;
    --Collection1-Reds-RedMenuText: #781F1F;
    --Collection1-TextBlue: #0A60DA;
    --Collection1-Paragpraph_font: "Rubik", sans-serif;
}
* {
    font-family: var(--Collection1-Paragpraph_font);
}

/*  *PopUp Styles

*/
.container {
    margin: 0;
}
a{
    cursor: pointer;
}
.popupOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
.popupContainer {
    position: absolute;
    top: 40%;
    left: 42%;
    width: 300px;
    height: 300px;
}
/* 
    *Button Styles
 */
.add_entity, .conf_button, .confirmation_cancelation, .warning_Button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--Collection1-Greens-PastelGreen);
    border: none;
}
.confirmation_cancelation {
    background-color: var(--Collection1-Reds-PastelRed);
}
.warning_Button {
    background-color: var(--Collection1-PastelOrange);
}

.add_entity_main {
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: 600;
    background-color: var(--highlightcolor-washedGreen);
}
/*
    Logo
*/
.Logo_container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;
}
.Logo {
    width: 51px;
    height: 52px;
    background-image: url(/assets/LogoFigmaBlack.svg);
}

.Logo_Image {
    width: 55px;
    height: 55px;
    content: "asasdd";
    color: transparent;
    background-image: src(/assets/LogoFigmaWhite.svg);
}
.LogoText {
    font-family: var(--Collection1-Paragpraph_font);
    text-decoration: none;
    font-family: var(--Collection1-Paragpraph_font);
    font-size: 32px;
    font-weight: 700;
    color:black;

}
/* NAV BARSS  

*/
                /*OrderNav*/
.Logout_Button{
    font-size: 16px;
    border-bottom: 2px white solid
}
.nav_status_Right {
    display: flex;
    gap: 10px;
}
.Buttons_IntableActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-family: var(--Collection1-Paragpraph_font);
    font-weight: 500;
    border: none;
    padding: 5px 10px 5px 10px;
    color: white;
}
.Buttons_IntableActions:hover{
    color: white;
}
header .nav_bar{
    padding-bottom:5px;
}
.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .nav_ul_container {
    position: fixed;
    bottom: 0;
    background-color: var(--Collection1-Greys-DarkGrey);
    left: 0;
    right: 0;
}

.nav_ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.nav_item {
    display: flex;
    flex-grow: 1; /* Make items grow to fill available space */
    justify-content:center;
    align-items:center;
}
.nav_item p{
    margin: 0 ;
    font-weight: 500;
}
li a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
}

footer li a{
    color:white;
    font-weight:500;
    font-size: 20px;
}

/* 
    *Login Page Styles
 */
.LoginPage_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.Login_card {
    padding: 1em;
    border: 1px black solid;
    border-radius: 0.7em;
    background-color: var(--Collection1-Greys-LightGrey);
    color: white;
}
.Login_card_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Password_input {
    border: none;
    background-color: var(--Collection1-Greys-BarsLightGrey);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
.Login_popup_Buttons_Wraps button{
    border:none;
}
.Login_popup_Buttons_Wraps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ManagerIcon, .WaiterIcon, .BartenderIcon, .CookIcon, .ManagerIconF, .WaitressIcon, .BartenderIconF, .CookIconF {
    width: 109px;
    height: 123px;
    padding: 10px;
    background: no-repeat;
    background-color: var(--Collection1-Greys-LightGreyLoginBackground);
    border-radius: 5px;
}

/*
    TableStyles
*/
.LoginPage_nav {

}
                /*SUCCESS MESSAGE*/

#SuccesMessage{
    display:flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 10px;
    background-color: var(--Collection1-Greys-BarsLightGrey);
    border-radius: 7px;
}
#SuccesMessage h4{
    margin: 0;
    color: white;
}

.Table_Overview {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
    margin-top: 25px;
}

.Restaurant_Table {
    display: grid;
    grid-template-areas:
        ". top ."
        "left table right"
        ". bottom .";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s;
}

    .Restaurant_Table:hover {
        transform: scale(1.03);
    }

.table_card {
    grid-area: table;
    background-color: #e5e5e5;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    width: 100px;
}

.table_card_body p,
.table_card_body h5 {
    margin: 4px 0;
    font-size: 14px;
}

.chair {
    width: 30px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.top {
    grid-area: top;
    width: 60px;
    height: 30px;
    border-radius: 10px 10px 0 0;
}

.bottom {
    grid-area: bottom;
    width: 60px;
    height: 30px;
    border-radius: 0 0 10px 10px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}
                        /*TABLE NOTIFICATIONS*/
.Bar_Orders, .Kitcthen_Orders {
    text-align: center;
    padding: 10px;
        
}
.TableView_OrderNotifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Kitcthen_Orders_Body, .Bar_Orders_Body {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 12px;
}
@property --a { /* must register --a to animate it */
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false
}
@keyframes a {
    to {
        --a: 1turn
    }
}
.Order_stroke{
    height: 4px;
    background-color: transparent;
    border-top: 2px solid;
}
.Order_notification_row_Body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Order_notification_row_Body p{
    margin: 0;
}
.Order_notification_row {
    border: solid 2px;
    inset: -16px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    align-items: center;
    background-color: var(--Collection1-Greys-SideContainerGrey);
}
.Order_notification_row p{
    margin:0;
}
.Border1pxSolid{
    border: 1px solid;
}
.PrepairingBorder {
    border-image: conic-gradient(from var(--a), #669900, #99cc33, #ccee66, #006699, #3399cc, #990066, #cc3399, #ff6600, #ff9900, #ffcc00, #669900) 1;
    transition: 500ms;
    animation: a 6s linear infinite;
    border-radius: 10px;
}
.NoBorder{
    border: none;
}
.OrderedBorder {
    border-image: conic-gradient( from var(--a), #fff176, /* bright pastel yellow */
    #ffd54f, /* sunflower */
    #ffca28, /* golden amber */
    #ffb300, /* vibrant mustard */
    #ffe082, /* mellow gold */
    #fff9c4 /* soft lemon cream */
    ) 1;
    transition: 500ms;
    animation: a 6s linear infinite;
}

.ReadyBorder {
    border-image: conic-gradient( from var(--a), #9cdb9c, /* very light greenish white */
    #89e789, /* pastel mint green */
    #97ee97, /* soft lime green */
    #99d699, /* calm pastel green */
    #67c267, /* medium pastel green */
    #6edb6e, /* return to mint */
    #50da50 /* pure white for contrast */
    ) 1;
    transition: 500ms;
    animation: a 6s linear infinite;
}
.Order_notification_row_ATAG {
    pointer-events: none;
}
.atag{
    text-decoration:none;
    border: none;
    background: none;
    color:white;
}
.TableOrderIcons_Container{
    display: flex;
    gap:5px;
    justify-content: space-around;

}
/*
    ORDER PAGE STYLES
*/
#partialViewContainer {
    display: grid;
    grid-template-areas: "courses items";
    grid-template-columns: 125px auto;
}
.order_container {
    width:100%;
}
.order_items_Header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--Collection1-Greys-BarsLightGrey);
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 10px 10px;
}
.order_items_Header p{
    color: var(--Collection1-Greys-GreyText);
    text-align:center;
    font-size:12px;
}
.order_items_Header h4{
    color: white;
}
#MoveTableButton:hover{
    cursor: pointer;
    color: orangered;
}

#Actions_Select {
    appearance: none;
    background-color: transparent;
    color: var(--Collection1-TextBlue);
    text-align: center;
    padding: 7px;
    border: none;
}
#Actions_Select option{
    background-color:transparent;
}
.order_items a {
    text-decoration: none;
}


#courseSidebar {
    width: 126px;
    display: flex;
    flex-direction: column;
    grid-area: courses;
    gap: 5px;
}
#menuItemsContainer {
    grid-area: items;
    padding-left: 5px;
    width: 95%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
    overflow: scroll;
    overflow-x: hidden;
}
#menuItemsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


.OrderViewBody {
    height: 600px;
    display: flex;
    flex-direction: row;
}
#orderList{
    display:flex;
    flex-direction: column;
    height: 84%; 
    width: 495.35px;
    
    overflow:scroll;
    overflow-x:hidden;
    background-color: var(--Collection1-Greys-SideContainerGrey);
}
#orderList p{
    color: white;

}
#orderList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.OrderItem_Row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-block-end: 1px #ffffff41 solid;
    padding: 5px 10px 5px 10px;
}
.OrderItem_Row_wrapper{
    display: flex;

}

.OrderItem_RowBody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}
.OrderItem_RowBody div{
    color: white;
    max-width:200px;
}
.OrderItemRow_Price{
    color: white;
}
.Notes_span {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 12px;
}
.order_summary {
    color: white;
    display: flex;
    flex-direction: column;
    width: 495.38px;
    box-sizing: border-box;
    position: fixed;
    top: 645px;
    background-color: var(--Collection1-Greys-BarsLightGrey);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    align-items: flex-end
}
.crudWindow_OrderIteRow{

    
}
.update_item{
}
.remove_Item{
    margin-top: 5px
}

#courseSidebar button {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Collection1-Greys-SideContainerGrey);
    border-radius: 5px;
    color: white;
    font-family: var(--Collection1-Paragpraph_font);
    font-weight: 500;
    border: none;
}
#courseSidebar button img{
    width:24px;
}
.menu-item.out-of-stock {
    opacity: 0.5;
    pointer-events: none;
    background-color: #e0e0e0 !important;
}

.menu-item.low-stock {
    background-color: #CC0023; /* light yellow */
}
.square{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 125px;
    width:125px;
    border-radius: 7px;
    padding: 5px;
}
.square h4{
    font-size: 16px;
}
.Stock_PriceDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.note-input {
    width: 125px;
    background-color: transparent;
    border: none;
}
.MenuItemButton_Wrap{
    display: flex;
    flex-direction:column;
    background-color: var(--Collection1-LsDarkPurple);
    border-radius:5px;
    color: white;
}
.MenuItem_Header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    background-color: var(--Collection1-Greys-BarsLightGrey);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.MenuItem_Header p{
    margin:0;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}
#Menu_SearchBar{
    border: none;
    background-color: transparent;
    color: white;
}
#Menu_SearchBar_Button{
    border: none;
    background: none;
}
#mealType {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px
}
#mealType option{
    color:black;
}
.menu-item-form {
    flex: 0 0 125px; /* or whatever width fits nicely */
    box-sizing: border-box;
}
.menu-item-form {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
              /* BILLL */
#PopupBillContainer {
    position: absolute;
    width: 320px;
    top: 10%;
    left: 40%;
}
.popupBILLOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
.receipt {
      background: #fff;
      width: 320px;
      max-height: 80vh;
      overflow-y: auto;
      padding: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      border-top: 4px dashed #ccc;
      border-bottom: 4px dashed #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      color: black;
    }

    .receipt h2, .receipt h3, .receipt p {
      margin: 0;
      text-align: center;
    }

    .receipt h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .receipt h3 {
      font-size: 16px;
      margin: 8px 0;
    }

    .receipt .items {
      margin: 15px 0;
      border-top: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
      padding: 10px 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    .total {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      margin-top: 10px;
    }

    .thank-you {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
    }

    .receipt::before,
    .receipt::after {
      content: "";
      display: block;
      height: 10px;
      background: repeating-linear-gradient(
        to right,
        #fff,
        #fff 10px,
        #ccc 10px,
        #ccc 12px
      );
    }
                /*MOVE  TABLEEEEE*/


.popupMoveOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    
}

.popupMoveContainer {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 15%;
}
#Move_Table_Container {
    overflow: scroll;
}
.Table_OverviewMove {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Move_Table_Container {
}

.Restaurant_Table_Move {
    display: grid;
    grid-template-areas:
        ". top ."
        "left table right"
        ". bottom .";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s;
    border: none;
    background-color: transparent;
}

    .Restaurant_Table_Move:hover {
        transform: scale(1.03);
    }
#Move_Table_Container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
/*PAYMENTTTTTTTTTTTTTTTTTTTT*/
.PaymentButtons_Container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.PaymentButtons {
    height: 61px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.payment-box {
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.summary-box {
    width: 350px;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 20px;
}
.payment-summary-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.payment-summary-box {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: white;
    width: 100%;
}

.payment-summary-table {
    width: 100%;
    border-collapse: collapse;
}

    .payment-summary-table th,
    .payment-summary-table td {
        padding: 12px 16px;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    .payment-summary-table th {
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid #666;
    }



