html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    body {
        align-items: flex-start;
        overflow: scroll;
    }
}
@media (min-width: 1365px) {
    .container {
        margin: 0;
    }
    body{
        align-items: flex-start;
        overflow: scroll;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.nav_bar {
    width: 100vw;
    align-items: center;
}

.order-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    width:400px;
    height:fit-content;
}