@{
	ViewData["Title"] = "Kitchen - Finished Orders";
}

<div style="margin:0;display:flex;justify-content:center;">
    <a href="/KitchenBar/KitchenFinishedOrders" class="btn btn-primary">Finished</a>
    <a href="/KitchenBar/KitchenRunningOrders" class="btn btn-primary">Running</a>
</div>

